@import '../../styles/variables.scss';
@import '../../styles/generalApp.module.scss';

.header {
  height: $header-height;
  background-color: #edeeee;
  display: flex;
  align-items: center;

  .header_leftSide {
    position: relative;
    height: 100%;
    padding: 0 10px;
    display: grid;
  }

  .header_rightSide {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content 1fr min-content min-content;
    padding: 0 10px;
    flex: 1 0 auto;
  }

  .removeNote {
    align-self: center;
    justify-self: end;
  }

  .exportNote {
    grid-column: 3 / 4;
    margin-right: 10px;
  }
}