@import '../../styles/variables.scss';

.header {
  height: $header-height;
  background-color: #edeeee;
  display: flex;
  align-items: center;

  .header_leftSide {
    position: relative;
    height: 100%;
    padding: 0 10px;

    .header_buttonsContainer {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: end;
    }
  }

  .header_rightSide {
    padding: 0 10px;
    flex: 1 0 auto;
  }

  .headerButton {
    width: 33px;
    height: 33px;
    position: relative;
    border-radius: 5px;
    transition: all 0.3s ease;
  
    &:hover {
      background-color: #dddedf;
    }
  
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}