@import '../../styles/variables.scss';

.searchNotes {
  grid-column: 4 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px $border-color-grey solid;
  border-radius: 10px;
  padding: 0 10px;

  .searchNotes_input {
    margin-left: 10px;
    font-size: 14px;
    color: $text-color-grey;

    &::placeholder {
      color: $text-color-grey;
    }
    
    &:-ms-input-placeholder {
      color: $text-color-grey;
    }
    
    &::-ms-input-placeholder {
      color: $text-color-grey;
    }
  }

  &:focus-within {
    border: 1px #037aff solid;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(3, 122, 255, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(3, 122, 255, 1);
    box-shadow: 0px 0px 5px 0px rgba(3, 122, 255, 1);
  }
}